absl-py
aiohappyeyeballs
aiohttp
aiosignal
anyio
appdirs
argon2-cffi
argon2-cffi-bindings
arrow
asttokens
async-lru
async-timeout
attrs
babel
backcall
beautifulsoup4
biopython
bleach
Brotli 
build 
CacheControl 
cached-property
cachetools
cattrs
certifi 
cffi
charset-normalizer 
chex
cleo 
click
colorama 
comm
contextlib2
contourpy
crashtest 
cryptography 
cycler
datasets
debugpy
decorator
defusedxml
Deprecated
dill
distlib 
dm-tree
dnspython
docker-pycreds
dulwich 
entrypoints
et_xmlfile
exceptiongroup
executing
filelock 
fonttools
frozenlist
fsspec
future
gitdb
GitPython
google-auth
google-auth-oauthlib
h11
h2 
h5py
hpack
httpcore
httpx
humanize
hyperframe 
idna 
importlib_metadata 
importlib_resources 
ipykernel
ipython
ipywidgets
jaraco.classes 
jax
jaxlib
jedi
jeepney 
Jinja2
joblib
json5
jsonpointer
jsonschema
jsonschema-specifications
jupyter
jupyter-lsp
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab_server
jupyterlab_widgets
Keras-Preprocessing
keyring 
kiwisolver
lightning-utilities
llvmlite
loguru
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdurl
mistune
ml_dtypes
more-itertools 
mpmath
multidict
multipledispatch
multiprocess
mysql-connector-python
natsort
nbclient
nbconvert
nbformat
nest-asyncio
networkx
ninja
nose
notebook
numba
numpy
oauthlib
openpyxl
opt_einsum
optax
overrides
packaging 
pandas
pandocfilters
parso
patsy
pexpect 
pickleshare
pillow
pkginfo 
platformdirs 
poetry 
poetry-core 
poetry-plugin-export 
pooch
prometheus_client
prompt_toolkit
propcache
protobuf
psutil
ptyprocess 
pure_eval
pyarrow
pyasn1
pycparser 
pydot
Pygments
pymongo
pynndescent
pyparsing
pyproject_hooks 
pyrsistent
PySocks 
python-dateutil
python-json-logger
pytorch-lightning
pytz
PyYAML
pyzmq
RapidFuzz 
referencing
requests 
requests-cache
requests-oauthlib
requests-toolbelt 
rfc3339-validator
rfc3986-validator
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
SecretStorage 
Send2Trash
sentry-sdk
setproctitle
shellingham 
six
smmap
sniffio
soupsieve
statsmodels
stdlib-list
sympy
terminado
texttable
threadpoolctl
tinycss2
tomli 
tomlkit 
toolz
torchmetrics
torchvision
tornado
tqdm
traitlets
trove-classifiers 
typing_extensions
tzdata
umap-learn
url-normalize
urllib3 
virtualenv 
wcwidth
webencodings
websocket-client
widgetsnbextension
wrapt
xlrd
xxhash
yarl
zipp 
zstandard
